%aside.app-banner{style: "background-image: url(#{image_path 'download_bg_pc.jpg'})"}
  .app-banner-pc
    .app-banner-pc-inner
      %h2 スマホでかんたんフリマアプリ
      %p 今すぐ無料ダウンロード！
      .app-banner-icon.clearfix
        %figure
          =image_tag "mercari_icon.png", alt: "", width: 68
        %ul.clearfix
          %li
            =link_to "https://itunes.apple.com/jp/app/id667861049?l=ja&mt=8", target: "_blank" do
              =image_tag "app-store.svg", height: 40, width: 133, alt: ""
          %li
            =link_to "https://play.google.com/store/apps/details?id=com.kouzoh.mercari&hl=ja", target: "_blank" do
              =image_tag "google-play.svg", height: 40, width: 133, alt: ""
    %figure
      =image_tag "download_content_pc.png", alt: ""
