%main
  =render partial: "top-carousel"
  %section.pickup-container
    %h2.pickup-head.text-center ピックアップカテゴリー
    %section.items-box-container.clearfix
      %h3.text-center
        %a{:href => "/jp/category/1/"}
          レディース 新着アイテム
      .items-box-content.clearfix
        %section.items-box
          %a{:href => "https://item.mercari.com/jp/m85985245159/"}
            %figure.items-box-photo
              %img.is-higher-width.lazyloaded{:alt => "Laundry ウィンドブレーカー", "data-src" => "https://static-mercari-jp-imgtr2.akamaized.net/thumb/photos/m85985245159_1.jpg?1538810873", :src => "https://static-mercari-jp-imgtr2.akamaized.net/thumb/photos/m85985245159_1.jpg?1538810873"}/
            .items-box-body
              %h3.items-box-name.font-2 Laundry ウィンドブレーカー
              .items-box-num.clearfix
                .items-box-price.font-5 ¥ 777
                .items-box-likes.font-2
                  %i.fa.fa-heart
                  %span 4
                %p.items-box-tax (税込)
        %section.items-box
          %a{:href => "https://item.mercari.com/jp/m41499016540/"}
            %figure.items-box-photo
              %img.is-higher-width.lazyloaded{:alt => "⚠️お値下げ不可⚠️❤️大幅特別限定価格中です❤️キャスキッドソン❤️", "data-src" => "https://static-mercari-jp-imgtr2.akamaized.net/thumb/photos/m41499016540_1.jpg?1544504600", :src => "https://static-mercari-jp-imgtr2.akamaized.net/thumb/photos/m41499016540_1.jpg?1544504600"}/
            .items-box-body
              %h3.items-box-name.font-2 ⚠️お値下げ不可⚠️❤️大幅特別限定価格中です❤️キャスキッドソン❤️
              .items-box-num.clearfix
                .items-box-price.font-5 ¥ 1,555
                %p.items-box-tax (税込)
        %section.items-box
          %a{:href => "https://item.mercari.com/jp/m34427905607/"}
            %figure.items-box-photo
              %img.is-higher-height.lazyloaded{:alt => "coen テーパードチノパンツ", "data-src" => "https://static-mercari-jp-imgtr2.akamaized.net/thumb/photos/m34427905607_1.jpg?1543387042", :src => "https://static-mercari-jp-imgtr2.akamaized.net/thumb/photos/m34427905607_1.jpg?1543387042"}/
            .items-box-body
              %h3.items-box-name.font-2 coen テーパードチノパンツ
              .items-box-num.clearfix
                .items-box-price.font-5 ¥ 2,000
                .items-box-likes.font-2
                  %i.fa.fa-heart
                  %span 5
                %p.items-box-tax (税込)
        %section.items-box
          %a{:href => "https://item.mercari.com/jp/m37204680951/"}
            %figure.items-box-photo
              %img.lazyloaded{:alt => "ペンダント スペイン ミハス イスラミック", "data-src" => "https://static-mercari-jp-imgtr2.akamaized.net/thumb/photos/m37204680951_1.jpg?1544513127", :src => "https://static-mercari-jp-imgtr2.akamaized.net/thumb/photos/m37204680951_1.jpg?1544513127"}/
            .items-box-body
              %h3.items-box-name.font-2 ペンダント スペイン ミハス イスラミック
              .items-box-num.clearfix
                .items-box-price.font-5 ¥ 800
                %p.items-box-tax (税込)
      .view-all
        %a{:href => "/jp/category/1/"} すべての商品を見る
    %section.items-box-container.clearfix
      %h3.text-center
        %a{:href => "/jp/category/2/"}
          メンズ 新着アイテム
      .items-box-content.clearfix
        %section.items-box
          %a{:href => "https://item.mercari.com/jp/m29108802842/"}
            %figure.items-box-photo
              %img.lazyloaded{:alt => "ハロルル ショルダーバッグ", "data-src" => "https://static-mercari-jp-imgtr2.akamaized.net/thumb/photos/m29108802842_1.jpg?1543675312", :src => "https://static-mercari-jp-imgtr2.akamaized.net/thumb/photos/m29108802842_1.jpg?1543675312"}/
            .items-box-body
              %h3.items-box-name.font-2 ハロルル ショルダーバッグ
              .items-box-num.clearfix
                .items-box-price.font-5 ¥ 2,300
                .items-box-likes.font-2
                  %i.fa.fa-heart
                  %span 4
                %p.items-box-tax (税込)
        %section.items-box
          %a{:href => "https://item.mercari.com/jp/m38690464901/"}
            %figure.items-box-photo
              %img.is-higher-height.lazyloaded{:alt => "ポールスミス スーツカバー", "data-src" => "https://static-mercari-jp-imgtr2.akamaized.net/thumb/photos/m38690464901_1.jpg?1544517329", :src => "https://static-mercari-jp-imgtr2.akamaized.net/thumb/photos/m38690464901_1.jpg?1544517329"}/
            .items-box-body
              %h3.items-box-name.font-2 ポールスミス スーツカバー
              .items-box-num.clearfix
                .items-box-price.font-5 ¥ 1,000
                %p.items-box-tax (税込)
        %section.items-box
          %a{:href => "https://item.mercari.com/jp/m45580074375/"}
            %figure.items-box-photo
              %img.lazyloaded{:alt => "ダンヒル長財布", "data-src" => "https://static-mercari-jp-imgtr2.akamaized.net/thumb/photos/m45580074375_1.jpg?1544517329", :src => "https://static-mercari-jp-imgtr2.akamaized.net/thumb/photos/m45580074375_1.jpg?1544517329"}/
            .items-box-body
              %h3.items-box-name.font-2 ダンヒル長財布
              .items-box-num.clearfix
                .items-box-price.font-5 ¥ 9,000
                %p.items-box-tax (税込)
        %section.items-box
          %a{:href => "https://item.mercari.com/jp/m33561664395/"}
            %figure.items-box-photo
              %img.is-higher-width.lazyloaded{:alt => "麻雀牌 指輪 東 黒 リング マージャン", "data-src" => "https://static-mercari-jp-imgtr2.akamaized.net/thumb/photos/m33561664395_1.jpg?1544517328", :src => "https://static-mercari-jp-imgtr2.akamaized.net/thumb/photos/m33561664395_1.jpg?1544517328"}/
            .items-box-body
              %h3.items-box-name.font-2 麻雀牌 指輪 東 黒 リング マージャン
              .items-box-num.clearfix
                .items-box-price.font-5 ¥ 1,000
                %p.items-box-tax (税込)
      .view-all
        %a{:href => "/jp/category/2/"} すべての商品を見る
    %section.items-box-container.clearfix
      %h3.text-center
        %a{:href => "/jp/category/3/"}
          ベビー・キッズ 新着アイテム
      .items-box-content.clearfix
        %section.items-box
          %a{:href => "https://item.mercari.com/jp/m88734707276/"}
            %figure.items-box-photo
              %img.is-higher-height.lazyloaded{:alt => "ジャンパー CHOOP シュープ", "data-src" => "https://static-mercari-jp-imgtr2.akamaized.net/thumb/photos/m88734707276_1.jpg?1544405085", :src => "https://static-mercari-jp-imgtr2.akamaized.net/thumb/photos/m88734707276_1.jpg?1544405085"}/
            .items-box-body
              %h3.items-box-name.font-2 ジャンパー CHOOP シュープ
              .items-box-num.clearfix
                .items-box-price.font-5 ¥ 800
                .items-box-likes.font-2
                  %i.fa.fa-heart
                  %span 2
                %p.items-box-tax (税込)
        %section.items-box
          %a{:href => "https://item.mercari.com/jp/m60134380924/"}
            %figure.items-box-photo
              %img.lazyloaded{:alt => "ジャンプスーツ カバーオール", "data-src" => "https://static-mercari-jp-imgtr2.akamaized.net/thumb/photos/m60134380924_1.jpg?1544517329", :src => "https://static-mercari-jp-imgtr2.akamaized.net/thumb/photos/m60134380924_1.jpg?1544517329"}/
            .items-box-body
              %h3.items-box-name.font-2 ジャンプスーツ カバーオール
              .items-box-num.clearfix
                .items-box-price.font-5 ¥ 1,300
                %p.items-box-tax (税込)
        %section.items-box
          %a{:href => "https://item.mercari.com/jp/m60627916696/"}
            %figure.items-box-photo
              %img.lazyloaded{:alt => "ベビー靴下 JAM", "data-src" => "https://static-mercari-jp-imgtr2.akamaized.net/thumb/photos/m60627916696_1.jpg?1544517329", :src => "https://static-mercari-jp-imgtr2.akamaized.net/thumb/photos/m60627916696_1.jpg?1544517329"}/
            .items-box-body
              %h3.items-box-name.font-2 ベビー靴下 JAM
              .items-box-num.clearfix
                .items-box-price.font-5 ¥ 500
                %p.items-box-tax (税込)
        %section.items-box
          %a{:href => "https://item.mercari.com/jp/m57358372892/"}
            %figure.items-box-photo
              %img.is-higher-width.lazyloaded{:alt => "エルバビーバ ベビーウォッシュ&クリーム", "data-src" => "https://static-mercari-jp-imgtr2.akamaized.net/thumb/photos/m57358372892_1.jpg?1544517329", :src => "https://static-mercari-jp-imgtr2.akamaized.net/thumb/photos/m57358372892_1.jpg?1544517329"}/
            .items-box-body
              %h3.items-box-name.font-2 エルバビーバ ベビーウォッシュ&amp;クリーム
              .items-box-num.clearfix
                .items-box-price.font-5 ¥ 4,500
                %p.items-box-tax (税込)
      .view-all
        %a{:href => "/jp/category/3/"} すべての商品を見る
    %section.items-box-container.clearfix
      %h3.text-center
        %a{:href => "/jp/category/6/"}
          コスメ・香水・美容 新着アイテム
      .items-box-content.clearfix
        %section.items-box
          %a{:href => "https://item.mercari.com/jp/m68894193289/"}
            %figure.items-box-photo
              %img.lazyloaded{:alt => "【６本セット】ジョンマスターオーガニック リップカーム オリジナルシトラス", "data-src" => "https://static-mercari-jp-imgtr2.akamaized.net/thumb/photos/m68894193289_1.jpg?1544517329", :src => "https://static-mercari-jp-imgtr2.akamaized.net/thumb/photos/m68894193289_1.jpg?1544517329"}/
            .items-box-body
              %h3.items-box-name.font-2 【６本セット】ジョンマスターオーガニック リップカーム オリジナルシトラス
              .items-box-num.clearfix
                .items-box-price.font-5 ¥ 5,900
                %p.items-box-tax (税込)
        %section.items-box
          %a{:href => "https://item.mercari.com/jp/m10906959583/"}
            %figure.items-box-photo
              %img.lazyloaded{:alt => "マキアージュ RD681", "data-src" => "https://static-mercari-jp-imgtr2.akamaized.net/thumb/photos/m10906959583_1.jpg?1544517328", :src => "https://static-mercari-jp-imgtr2.akamaized.net/thumb/photos/m10906959583_1.jpg?1544517328"}/
            .items-box-body
              %h3.items-box-name.font-2 マキアージュ RD681
              .items-box-num.clearfix
                .items-box-price.font-5 ¥ 720
                %p.items-box-tax (税込)
        %section.items-box
          %a{:href => "https://item.mercari.com/jp/m88400204297/"}
            %figure.items-box-photo
              %img.is-higher-height.lazyloaded{:alt => "チップが一つ一つ取り外せる差し込み式透明72色カラーチャート", "data-src" => "https://static-mercari-jp-imgtr2.akamaized.net/thumb/photos/m88400204297_1.jpg?1544517328", :src => "https://static-mercari-jp-imgtr2.akamaized.net/thumb/photos/m88400204297_1.jpg?1544517328"}/
            .items-box-body
              %h3.items-box-name.font-2 チップが一つ一つ取り外せる差し込み式透明72色カラーチャート
              .items-box-num.clearfix
                .items-box-price.font-5 ¥ 680
                %p.items-box-tax (税込)
        %section.items-box
          %a{:href => "https://item.mercari.com/jp/m64191349489/"}
            %figure.items-box-photo
              %img.lazyloaded{:alt => "黒モリモリスリム", "data-src" => "https://static-mercari-jp-imgtr2.akamaized.net/thumb/photos/m64191349489_1.jpg?1544517326", :src => "https://static-mercari-jp-imgtr2.akamaized.net/thumb/photos/m64191349489_1.jpg?1544517326"}/
            .items-box-body
              %h3.items-box-name.font-2 黒モリモリスリム
              .items-box-num.clearfix
                .items-box-price.font-5 ¥ 3,900
                %p.items-box-tax (税込)
      .view-all
        %a{:href => "/jp/category/6/"} すべての商品を見る

