.default-container
  =render partial: "shared/pc-header"
  =render partial: "main"
  =render partial: "shared/app-banner"
  =render partial: "shared/footer"
  =render partial: "shared/footer-sell-btn"
