%li.pc-header-navbox-parent
  %h3
    =link_to "シャネル", "#"
%li.pc-header-navbox-parent
  %h3
    =link_to "ナイキ", "#"
%li.pc-header-navbox-parent
  %h3
    =link_to "ルイヴィトン", "#"
%li.pc-header-navbox-parent
  %h3
    =link_to "シュプリーム", "#"
%li.pc-header-navbox-parent
  %h3
    =link_to "アディダス", "#"
%li.pc-header-navbox-parent
  %h3
    =link_to "ブランド一覧", "#"


