%li.pc-header-navbox-child
  =link_to category_child.name, category_path(category_child)
  %ul.pc-header-navbox-grandchild-wrap
    =render partial: "shared/parts/category_grandchild", collection: category_child.children

