.global-footer {
  padding: 40px 20px;
  background: #212121;
  color: #fff;
  a {
    display: block;
    color: #fff;
  }
  h2 {
    font-weight: bold;
  }
  nav {
    width: 1020px;
    margin: 0 auto;
  }
  &-head {
    color: #fff;
    font-size: 16px;
  }
  .download-app {
    display: none;
  }
  &-cell{
    margin: 40px auto 0;
    li {
      margin: 16px 0 0;
      &:first-child {
        margin: 24px 0 0;
      }
    }
  }
  &-nav-lang {
    a{
      opacity: .3;
      &.activate{
          opacity: 1.0;
      }
    }
  }
  &-logo {
    display: block;
    margin: 40px 0 0 0;
    text-align:  center;
  }
  &-copyright {
    margin: 8px 0 0;
    text-align: center;
  }
}

