-if item.liked?(current_user)
  =link_to item_like_path(item,item.likes.find_by(user_id: current_user.id)), {method: :delete,class: "item-button item-button-like", remote: true} do
    %i.fa.fa-heart
    %span いいね!
    %span=item.likes.count
-else
  =link_to item_likes_path(item), {method: :post, class: "item-button item-button-like", remote: true} do
    %i.far.fa-heart
    %span いいね!
    %span=item.likes.count
