= render partial:"shared/pc-header"
=render partial:"shared/bread-crumbs"

.default-container
  %main.l-container.clearfix
    %div.l-content
      %div.l-chapter-container
        %form.l-single-inner{action: "",mathod:"POST",novalidate:"novalidate"}
          %div.l-single-content
            %button.btn-default.btn-red{type:"submit"}ログアウト
            %input{type:"hidden",value:"",name:"__csrf_value"}

    =render partial:"users/side-bar"
    = render partial:"shared/footer-sell-btn"
  = render partial:"shared/app-banner"
  = render partial:"shared/global-footer"
