.login-containar
  = render partial:"shared/single-header"

  %main.main
    .account-center
      .new_account
        %h1 新規会員登録
      .account__form_innner
        .account__form_group
          = link_to "メールアドレスで登録", new_user_registration_path
          = fa_icon 'envelope', class: 'icon'
        .login__form_innner
          =link_to '/auth/facebook',id: "facebook-login",class: "button-default btn-sns btn-facebook" do
            %i.fab.fa-facebook-square.icon
            %p Facebookで登録
          =link_to '/auth/google_oauth2', id: "google-login", class: "button-default btn-sns btn-google" do
            %i.fab.fa-google-plus-g.icon
            %p Googleで登録
  %footer.single__footer
    = render partial:"shared/single-footer"
