.login-containar
  = render partial:"shared/single-header"

  %main.main
    .account-center
      .new_account
        %h1 新規会員登録
      .account__form_innner
        .account__form_group
          = link_to "メールアドレスで登録", new_user_registration_path
          = fa_icon 'envelope', class: 'icon'
        %button#facebook-login.button-default.btn-sns.btn-facebook
          %i.fab.fa-facebook-square.icon
          %p Facebookで登録
        %button#google-login.button-default.btn-sns.btn-google
          %i.fab.fa-google-plus-g.icon
          %p Googleで登録
  %footer.single__footer
    = render partial:"shared/single-footer"
