%header
  .pc-header
    .pc-header-inner
      .header__top.clearfix
        %h1.logo.l-left
          =link_to root_path do
            = image_tag 'logo.svg', alt:"mercari",width: "134", height: "36"
        %form.header__top__form.l-right{action: "/", method: "post"}
          %input.input-default{name: "keyword", type: :search,placeholder: "キーワードから探す"}
          %i.fa.fa-search
      .header__bottom
        .header__bavbox.clearfix
          %nav.l-reft
            %ul.pc-header-navbox
              %li
                %h2=link_to "カテゴリーから探す", "#", class: " pc-header-navbox-root"
                %ul.pc-header-navbox-parent-wrap{style: "width: auto;"}
                  -@categories.each do |category_parent|
                    %li.pc-header-navbox-parent
                      %h3
                        =link_to category_parent.name, category_path(category_parent)
                      %ul.pc-header-navbox-child-wrap
                        -category_parent.children.each do |category_child|
                          %li.pc-header-navbox-child
                            =link_to category_child.name, category_path(category_child)
                            %ul.pc-header-navbox-grandchild-wrap
                              -category_child.children.each do |category_grandchild|
                                %li.pc-header-navbox-grandchild
                                  =link_to category_grandchild.name, category_path(category_grandchild)
              %li
                %h2=link_to "ブランドから探す", "#", class: "pc-header-navbox-root"

          .l-right
            -if user_signed_in?
              %ul.pc-header-user-nav
                %li
                  =link_to mypage_path, class: "pc-header-navbox-root" do
                    %figure
                      %div
                        =image_tag "member_photo_noimage_thumb.png",width: 32, height: 32
                    %div マイページ
                %li
                  =link_to "#", class: "pc-header-navbox-root" do
                    %i.fa.fa-bell
                    お知らせ
                %li
                  =link_to "#", class: "pc-header-navbox-root" do
                    %i.fa.fa-check
                    やることリスト
            -else
              %ul.pc-header-login-nav
                %li
                  =link_to "ログイン", new_user_session_path, class: "pc-header-btn btn btn-red"

                %li
                  =link_to "新規会員登録", new_user_registration_path, class: "pc-header-btn btn header-signup"
