@keyframes fade-in-up {
  0% {
    position: relative;
    opacity: 0;
    top: 8px;
  }
  100% {
    position: relative;
    opacity: 1;
    top: 0;
  }
}

@keyframes fade-in-down {
  0% {
    position: relative;
    opacity: 0;
    bottom: 8px;
  }
  100% {
    position: relative;
    opacity: 1;
    bottom: 0;
  }
}

@keyframes rubber-band {
  0% {
    transform: scale(1,1);
  }
  30% {
    transform: scale(1.25,0.75);
  }
  40% {
    transform: scale(0.75,1.25);
  }
  50% {
    transform: scale(1.15,0.85);
  }
  65% {
    transform: scale(0.9,1.1);
  }
  75% {
    transform: scale(1.05,0.95);
  }
  100% {
    transform: scale(1,1);
  }
}

