.categories-container {
  div {box-sizing: border-box;}
  .category-index-header{
    h2 {
      padding: 8px 0;
      font-size: 22px;
      line-height: 1.4;
    }
  }
  .category-list {
    &-nav{
      h2{
        font-size: 22px;
        line-height: 1.4;
      }
      &-parent-link {
        float: left;
        display:block;
        border-radius: 4px;
        min-width: 80px;
        height: 40px;
        -webkit-box-shadow: 1px 1px 1px 1px rgba(14,14,14,0.0580392);
        box-shadow: 1px 1px 1px 1px rgba(14,14,14,0.0580392);
        padding: 0 30px;
        margin: 5px;
        color: #333;
        font-size: 16px;
        line-height: 40px;
        background-color: white;
        &:hover {
          background-color: $mRed;
          color: white;
          opacity: 1;
          text-decoration: none;
        }
      }
    } //category-list-nav
    &-box{
      margin: 30px auto;
      &-parent {
        padding: 24px 30px 10px 30px;
        background-color: white;
        margin-bottom: 40px;
        border-radius: 4px;
        &-all {
          display: block;
          font-size: 16px;
          padding: 8px 0;
        }
        &-head {
          font-size: 22px;
          font-weight: bold;
          border-top-left-radius: 4px;
          border-top-right-radius: 4px;
          padding: 7px 30px 0 30px;
          height: 40px;
          background-color: $mRed;
          color: white;
        }
      } //-parent
      &-child {
        &-head {
          padding: 15px 0 5px;
          h4 {
            font-size: 14px;
            font-weight: bold;
          }
        }
      } //-child
      &-grandchild {
        padding: 0 20px 10px;
        li {
          display: block;
          box-sizing: border-box;
          float: left;
          width: 50%;
          height: 32px;
          padding: 8px 20px 0 8px;
          font-size: 16px;
        }
      }
    } //category-list-box
  } // category-list
}
