.categories-container {
    margin: 40px auto 0;
    padding: 0 0 40px;
    width: 1020px;
  .categories-content {
    width: 100%;
    .items-box-container {
      width: 100%;
    }
    .items-box {
      &-head {
        font-size: 22px;
        line-height: 1.4;
        margin: 24px 0 8px;
        font-weight: bold;
      }
      &:nth-child(5n+1) {
        margin-left: 0;
      }
    }
  }
  .parts-nav {
    &-child {
      float: left;
      margin: 16px 16px 0 0;
    }
  }
}
