.items-box {
    float: left;
    margin: 0 0 0 20px;
    width: 188px;
    background-color: #fff;
    &-photo {
      position: relative;
      overflow: hidden;
      img{
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    .item-sold-out-badge{
      padding: 0;
      margin: 0;
      background-repeat: no-repeat;
      display: block;
      .soldout-text{
        margin: 0;
        padding: 0;
        top: 22px;
        font-size: 26px;
        display: block;
        position: absolute;
        left: 0;
        z-index: 2;
        color: #fff;
        transform: rotate(-45deg);
        letter-spacing: 2px;
        font-weight: 600;
      }
      &:after{
        border-top: 50px solid #ea352d;
        border-right: 50px solid transparent;
        border-bottom: 50px solid transparent;
        border-left: 50px solid #ea352d;
        display: block;
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        width: 0;
        height: 0;
        border-style: solid;
      }
    }
    &-container {
      margin: 0 auto;
    }
    &-body{
      padding: 16px;
      height: 78px;
    }
    &-name {
      margin: 0;
      overflow: hidden;
      position: relative;
      font-weight: 400;
      height: 3em;
      line-height: 1.5;
      word-break: break-word;
      white-space: normal;
      font-size: 16px;
    }
    &-num {
      margin: 8px 0 0;
    }
    &-tax{
      font-size: 10px;
      clear: both;
      }
    &-price {
      font-size: 20px;
      float: left;
    }
    &-favorites {
      font-size: 16px;
      font-weight: 400;
      float: right;
      span {
        display: inline-block;
        margin: 1px 0 0;
        vertical-align: middle;
      }
      i {
        margin: 0 4px 0 0;
        vertical-align: middle;
      }
    }
    a {
      display: block;
      color: #333;
    }
  }
