#sell-item-container {
  width: 100%;
  .input-default {
    width: 100%;
    height: 48px;
    padding: 10px 16px 8px;
    margin: 8px 0 0;
    background-color: #fff;
    border: 1px solid #ccc;
    line-height: 1.5;
    border-radius: 4px;
    font-size: 16px;
    font-family: inherit;
    box-sizing: border-box;
  }
  .textarea-default {
    display: block;
    width: 100%;
    max-width: 100%;
    min-height: 104px;
    padding: 10px;
    margin: 8px 0 0;
    border: 1px solid #ccc;
    background: #fff;
    font-size: 16px;
    line-height: 1.5;
    box-sizing: border-box;
  }
  .select-default {
      position: relative;
      z-index: 2;
      height: 48px;
      width: 100%;
      padding: 0 16px;
      border-radius: 4px;
      border: 1px solid #ccc;
      background: 0;
      font-size: 16px;
      line-height: 1.5;
      cursor: pointer;
  }
  .return-btn {
    width: 45%;
    margin: 24px auto 0;
  }
  .field_with_errors {
    display: block;
  }
  .has-error-text {
    color: $red;
    margin: 8px 0 0 0;
  }
  .sell{
    &-form {
    border-top: 1px solid #eee;
    width: 100%;
    }
    &-upload {
      &-box {
        width: 620px;
        padding: 40px;
        h3 {
          font-size: 16px;
          font-weight: bold;
        }
        p {
          margin: 8px 0 0;
          line-height: 1.5;
        }
      }
      &-dropbox {
        position: relative;
        min-height:162px;
        background: #f5f5f5;
        border: 1px dashed #ccc;
        font-size: 14px;
        font-weight: bold;
        text-align: center;
        padding: 40px;
        margin: 0;
        cursor: pointer;
        box-sizing: border-box;
        float: right;
        pre {
          position: absolute;
          top: 50%;
          left: 16px;
          right: 16px;
          text-align: center;
          font-size: 14px;
          line-height: 1.5;
          -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
          pointer-events: none;
          white-space: pre-wrap;
          word-wrap: break-word;
        }
        &.have {
          &-item-0 {
            width: 620px;
          }
          &-item-1 {
            width: 491px;
          }
          &-item-2 {
            width: 363px;
          }
          &-item-3 {
            width: 234px;
          }
          &-item-4 {
            width: 106px;
          }
          &-item-5 {
            width: 620px;
          }
          &-item-6 {
            width: 491px;
          }
          &-item-7 {
            width: 363px;
          }
          &-item-8 {
            width: 234px;
          }
          &-item-9 {
            width: 106px;
          }
          &-item-10 {
            display: none;
          }
        }
      }
      &-item {
        width: 116px;
        margin: 0 0 10px 10px;
        display: inline-block;
        border: 1px solid #eee;
        background-color: #f5f5f5;
        vertical-align:  top;
        box-sizing: border-box;
        float: left;
        &:first-child {
          margin-left: 0;
        }
        &:nth-child(6) {
          margin-left: 0;
        }
      }
      &-figure {
        line-height: 116px;
        width: 100%;
        img {
          width: 100%;
          vertical-align: middle;
        }
      }
      &-button {
        font-size: 14px;
        a {
          display: inline-block;
          width: 50%;
          background: #f5f5f5;
          line-height: 44px;
          text-align: center;
          text-decoration: none;
          float: left;
        }
      }
    }
    &-dropbox {
      &-container {
        margin: 16px auto 0;
      }
    }
    &-content {
      box-sizing: border-box;
      width: 100%;
      padding: 40px;
      border-top: 1px solid #eee;
    }
    &-sub-head {
      float: left;
      color: #888;
      font-size: 14px;
      font-weight: bold;
    }
    &-form-box {
      float: right;
      width: 400px;
    }
    &-price {
      label {
        width: 50%;
        line-height: 48px;
      }
      li {
        padding: 24px 0;
        border-top: 1px solid #ccc;
      }
      li:first-child {
        padding: 0 0 24px;
        border: 0;
      }
      &-input {
        width: 50%;
        text-align: right;
        font-size: 12px;
        >div {
          display: inline-block;
          width: 80%;
          margin: 0 0 0 5%;
        }
        input {
          margin: 0;
          font-weight: normal;
          text-align: right;
        }
      }
    }
    &-profit {
      font-size: 16px;
      font-weight: bold;
      &-value {
        font-size: 34px;
        font-weight: normal;
      }
    }
    &-btn-box {
      &-precaution {
        line-height: 1.5;
      }
      &-btn {
        margin: 40px 0 0;
      }
    }

  }
  .form-group {
    margin: 40px 0 0;
    width: 100%;
    label {
      display: inline-block;
      font-weight: 600;
    }
    &:first-child {
      margin: 0;
    }
    .select-wrap{
      position: relative;
      margin: 8px 0 0;
    }
  }


.modalContents {
  line-height:10px;
  margin-top: 20px;
  height:155px;
  span {
    float: right;
    position:absolute;
    top: 10px;
    right:10px;
    color: #888;
    background: #eee;
    height:40px;
    width:150px;
    line-height: 40px;
    text-align:center;
    padding-left: 20px;
  }
  .fas {
    position:absolute;
    top:23px;
    right:140px;
    color:#888;
    padding-right:10px;
  }
}

.modalWrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform:translate(-50%,-50%);
  width: 70%;
  max-width: 600px;
  background-color: #fff;
}

.modal-bold {
  font-weight:bold;
  font-size:18px;
  float:left;
  margin:10px 0px 0px 10px;
}

.modalArea {
  display: none;
  position: fixed;
  z-index: 10; /*サイトによってここの数値は調整 */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.modalBg {
  width: 100%;
  height: 100%;
  background-color: rgba(30,30,30,0.9);
}

/* 以下ボタンスタイル */
button {
  padding: 10px;
  background-color: #fff;
  border: 1px solid #282828;
  border-radius: 2px;
  cursor: pointer;
}

.clearfix {
  display:flex;
  list-style: none;
}

.cansel-button {
  width:100%;
  height:63px;
  text-align:center;
  margin-bottom: 50px;
  a {
    padding:20px 50px 20px 50px ;
    line-height: 63px;
    color:#fff;
    background:#888;
    text-decoration:none;
  }
}

.ok-button {
  width:100%;
  height:63px;
  text-align:center;
a {
  line-height: 63px;
  color:#fff;
  padding:20px 77px 20px 77px ;
  background: #ea352d;
  border: 1px solid #ea352d;
  text-decoration:none;
  }
}

#openModal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform:translate(-50%,-50%);
  border-style: none;
  background: #aaa;
  font-size:13px;
  color:#fff;
  }
  a.disabled{
    pointer-events: none;
  }

  #c1 {
    margin:-100px 0 100px 100px;
  }

  .sell-crop-range {
    text-align: center;
    height:30px;
    margin-top: -90px;
    font-size: 20px;
  .small-camera {
    font-size: 15px;
  }
  input[type="range"] {
    width:200px;
    height:10px;
    }
  }
}
