.search-container{
  max-width: 100%;
  padding: 4% 5%;
  .search-area{
    width: 28%;
    max-width:280px;
    .select-order{
      background-color: $siro;
    }
    .select-detail{
      padding: 16px;
      box-sizing: border-box;
      margin-top: 40px;
      background-color: $siro;
      .select-head{
        font-weight: 600;
        line-height: 30px;
        font-size: 18px;
        padding-bottom: 16px;
      }
      .fas{
        color:$header-arrow;
      }
      .input-default{
        margin-top: 0px;
      }
      #brand_list{
        overflow: auto;
        position: absolute;
        left: 0;
        right: 0;
        z-index: 5;
        max-height: 280px;
        background-color: $siro;
        box-shadow: 0 0 4px 0 rgba(0,0,0,0.64);
        .brand-name:hover{
          background: #0099e8;
          color: $siro;
          }
        .brand-name{
          cursor: all-scroll;
          padding: 16px 8px;
          font-size: 14px;
          }
        }
      .price-limits{
        p{
          padding: 0px 16.5px;
        }
        .input-default{
          margin-top: 8px;
          width: 40%;
        }
      }
      .btn-default{
        width: 45%;
      }
      .btn-red{
        float: right;
      }
    }
  }
  .result-area{
      width: 70%;
    &__header{
      font-size: 22px;
      line-height: 1.4;
      margin-bottom: 8px;
    }
    &__contents{
      .items-box {
        float: left;
        margin: 0 15px 15px 0;
        min-width: 160px;
        background-color: $siro;
        &-photo {
          position: relative;
          overflow: hidden;
          img{
            width: 100%;
            height: 160px;
            object-fit: cover;
          }
        }
        &-container {
          width: 940px;
          margin: 0 auto;
        }
        &-body{
          padding: 16px;
          height: 78px;
        }
        &-name {
          margin: 0;
          overflow: hidden;
          position: relative;
          font-weight: 400;
          height: 3em;
          line-height: 1.5;
          word-break: break-word;
          white-space: normal;
          font-size: 16px;
        }
        &-num {
          margin: 8px 0 0;
        }
        &-tax{
          font-size: 10px;
          clear: both;
          }
        &-price {
          font-size: 20px;
          float: left;
        }
        &-likes {
          font-size: 16px;
          font-weight: 400;
          float: right;
          span {
            display: inline-block;
            margin: 1px 0 0;
            vertical-align: middle;
          }
          i {
            margin: 0 4px 0 0;
            vertical-align: middle;
          }
        }
        a {
          display: block;
          color: $logout-btn;
        }
      }
    }
  }
}

.checkbox-area{
  padding-top: 10px;
  .checkbox-default{
    line-height: 20px;
    width: 120px;
    float: left;
    margin-bottom: 10px;
    word-wrap:break-word;
    display: inline-block;
    .checkbox-label{
      width: 90px;
      padding-left: 20px;
      position:relative;
      margin-right: 10px;
      font-weight: 400;
      word-break: break-word;
    }
    .checkbox-label::before{
      content: "";
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 15px;
      height: 15px;
      border: 1px solid #999;
      border-radius: 2px;
    }
    .check-btn:checked + .checkbox-label::after{
      content: "";
      display: block;
      position: absolute;
      top: -1px;
      left: 4px;
      width: 7px;
      height: 12px;
      transform: rotate(40deg);
      border-bottom: 2px solid #fff;
      border-right: 2px solid #fff;
    }
    .check-btn:checked + .checkbox-label::before{
      background-color: #388cf5;
    }

    .check-btn{
      display: none;
    }
  }
}
