.item-box-container {
  padding: 24px 40px 40px;
  margin: 40px auto 0;
  background-color: #fff;
  box-sizing: border-box;
  .item-name {
    font-size: 24px;
    text-align: center;
    word-wrap: break-word;
    line-height: 1.4;
    font-weight: bold;
  }
  .item-wording {
    margin: 8px 0 0;
    font-size: 14px;
    color: $itemWordingColor;
    line-height: 1.5;
    a {
      color: $itemWordingColor;
    }
  }
  .item-main-content {
    margin: 16px 0 0;
  }
  .item-photo {
      min-width: 280px;
      max-width: 360px;
      min-height: 280px;
      margin: 0 auto;
      background-color: $whiteGray;
    .slick-dots {
      bottom: 0;
      position: relative;
      li {
        margin: 0;
        display: inline-block;
        width: 75px;
        height: 75px;
        opacity: 0.7;
      }
      .slick-active{
        opacity: 1;
      }
      img {
        width: 75px;
        height: 75px;
        object-fit: cover;
      }
    }
    .slick-list{
      // height: 300px;
      img {
        width: 300px;
        height: 300px;
        object-fit: contain;
      }
    }
  }
  .item-detail-table {
    width: 100%;
    max-width: 360px;
    margin: 8px auto 0;
    border-collapse: collapse;
    border: 1px solid Whitesmoke;
    border-spacing: 0;
    th {
      width: 39%;
      text-align: left;
      font-weight: 400;
      background: $whiteGray;
    }
    th, td {
      border-collapse: collapse;
      border: 1px solid Whitesmoke;
      padding: 8px;
    }
    .icon {
      &-good {
        color: $goodRaitingColor;
      }
      &-normal {
        color: $normalRaitingColor;
      }
      &-bad {
        color: $badRaitingColor;
      }
    } //.icon
    .item-user-ratings {
      margin:8px 0 0 16px;
      &:first-child {
        margin-left: 0;
      }
    }
  } //.item-detail-table
  .item-price-box {
    margin: 24px 0 0;
    text-align: center;
    &-price {
      margin: 0 16px 0 0;
      font-size: 50px;
      font-weight: bold;
    }
    &-tax {
      font-size: 10px;
    }
    &-shipping-fee {
      font-size: 16px;
    }
  }
  .item-buy-btn {
    height: 60px;
    line-height: 60px;
    margin: 16px 0 0;
    font-size: 24px;
    font-weight: bold;
  }
  .item-description {
    margin: 24px 0 0;
    padding: 32px 0 0;
    font-size: 15px;
    line-height: 1.5;
    &-inner {
       white-space: pre-wrap;
    }
  }
  .item-button {
    display: inline-block;
    padding: 8px 16px;
    border-radius: 40px;
    transition: all ease-out .3s;
    &-container {
      margin: 16px 0 0;
    }
    &-left {
      float: left;
    }
    &-right {
      float: right;
      margin: 8px 0 0;
    }
    &-like {
      color: #333;
      border: 1px solid Whitesmoke;
      background: Whitesmoke;
    }
    &-report {
      color: #333;
      border: 1px solid Whitesmoke;
      background: Whitesmoke;
      text-decoration: none;
    }
  }
} //.item-box-container

.item-detail-comment {
    width: 700px;
    margin: 8px auto;
    background-color: white;
  &-form {
    >p {
      padding: 8px;
      font-size: 14px;
      background: #fff6de;
    }
    .comment-submit {
      margin: 8px 0 0;
    }
  }
} //.item-detal-comment

.nav-item-link-prev-next {
  margin: 24px 4% 0;
  .nav-item-link {
    width: 45%;
    word-wrap: break-word;
    &-prev {
      position: relative;
      padding: 0 0 0 14px;
      text-align: left;
    }
    &-next {
      position: relative;
      padding: 0 14px 0 0;
      text-align: right;
    }
  }
  .icon-angle{
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    &-left {
      left: 0;
    }
    &-right {
      right: 0;
    }
  }
}

.item-social-media-box {
  margin: 24px 0 0;
  padding: 16px 0 8px;
  background-color: #fff;
  .text-center {
    padding: 14px 0 0;
  }
  .social-media-box {
    margin: 16px 0 0;
    text-align: center;
    li {
      display: inline-block;
      margin: 0 8px 8px 0;
      vertical-align: middle;
      text-align: center;
    }
  .share-btn {
    display: block;
    position: relative;
    width: 44px;
    height: 44px;
    border-radius: 4px;
    line-height: 44px;
    color: #fff;
    box-sizing: border-box;
    &-facebook {
      background: $facebookColor;
    }
    &-twitter {
      background: $twitterColor;
    }
    &-line {
      background: $lineColor;
    }
    &-printerest {
      background: $printerestColor;
    }
    .icon-sns {
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      }
    }
  }
}

.item-button-edit-delete {
  text-align: center;
  background:#fff;
  margin-top: 25px;
  padding-top: 10px;
  padding-bottom: 10px;
  .item-button-edit {
    height:50px;
    line-height:50px;
    background: #ea352d;
    margin:0 auto;
  }
  a {
    color:#fff;
    text-decoration:none;
   }
  .item-button-or {
    color: #000;
    font-size:16px;
    margin-top: 10px;
  }
  .item-button-stop {
    height:50px;
    line-height:50px;
    background: #aaa;
    margin:0 auto;
    margin-top: 10px;
  }
  .item-button-delete {
    height:50px;
    line-height:50px;
    background: #aaa;
    margin:0 auto;
    margin-top: 10px;
    position:relative;
  }
}
.modalContents {
  line-height:10px;
  margin-top: 60px;
}


.modal-bold {
  font-weight:bold;
  font-size:20px;
  margin-bottom: 15px;
}

.final-answer {
  margin-top:-10px;
}

.modalArea {
  display: none;
  position: fixed;
  z-index: 10; /*サイトによってここの数値は調整 */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}


.modalWrapper {
  position: absolute;
  top: 20%;
  left: 50%;
  transform:translate(-50%,-50%);
  width: 70%;
  max-width: 600px;
  height:280px;
  background-color: #fff;
}
.modalBg {
  width: 100%;
  height: 100%;
  background-color: rgba(30,30,30,0.9);
}

/* 以下ボタンスタイル */
// button {
//   padding: 10px;
//   background-color: #fff;
//   border: 1px solid #282828;
//   border-radius: 2px;
//   cursor: pointer;
// }

// .clearfix {
//   display:flex;
//   list-style: none;
//   border-top: 1px solid #ccc;
// }

.cansel-button {
  width:100%;
  height:63px;
  a {
    line-height: 63px;
    color:#000;
  }
}

.delete-button {
  width:100%;
  height:63px;
  border-left: 1px solid #ccc;
a {
  line-height: 63px;
  color: #0099e8;
  }
}

#openModal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform:translate(-50%,-50%);
  border-style: none;
  background: #aaa;
  font-size:13px;
  color:#fff;
}


.item-detail-message {
  margin:8px auto;
  .message-content {
  padding: 24px 7.5%;
  background-color:#fff;
  }
  .message-items {
  margin: 0;
  }
  li {
  list-style: none;
  }
  .message-items li:first-child {
  margin: 1.5em 0 0;
  list-style: none;
  }
  .message-self .message-body {
  float:left;
  background: #fbf0e6;
  }
  .message-body {
  float: right;
  position: relative;
  width: calc(100% - 56px);
  padding: 16px;
  background: #eef0f4;
  border-radius: 15px;
  line-height: 1.5;
  word-break: break-all;
  margin-bottom: 50px;
  }
  .message-icons {
  margin: 8px 0 0;
  }
  form {
  background:#fff;
  padding-bottom: 30px;
  }
  .message-items li {
  margin: 60px 0 0;
  }
  .message-delete{
  float: right;
  }
}


