.item-box-container {
  padding: 24px 40px 40px;
  margin: 40px auto 0;
  background-color: #fff;
  box-sizing: border-box;
  .item-name {
    font-size: 24px;
    text-align: center;
    word-wrap: break-word;
    line-height: 1.4;
    font-weight: bold;
  }
  .item-wording {
    margin: 8px 0 0;
    font-size: 14px;
    color: $itemWordingColor;
    line-height: 1.5;
    a {
      color: $itemWordingColor;
    }
  }
  .item-main-content {
    margin: 16px 0 0;
      .sold-out-box{
        position: relative;
        width: fit-content;
        margin: 0 auto;
        .item-sold-out-badge{
            padding: 0;
            margin: 0;
            background-repeat: no-repeat;
            display: block;
          .soldout-text{
            margin: 0;
            padding: 0;
            top: 22px;
            font-size: 26px;
            display: block;
            position: absolute;
            left: 0;
            z-index: 2;
            color: #fff;
            transform: rotate(-45deg);
            letter-spacing: 2px;
            font-weight: 600;
          }
           &:after{
            border-top: 50px solid #ea352d;
            border-right: 50px solid transparent;
            border-bottom: 50px solid transparent;
            border-left: 50px solid #ea352d;
            display: block;
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            z-index: 1;
            width: 0;
            height: 0;
            border-style: solid;
          }
        }
      }
    }
  .item-photo {
      min-width: 280px;
      max-width: 360px;
      min-height: 280px;
      margin: 0 auto;
      background-color: $whiteGray;
    .slick-dots {
      bottom: 0;
      text-align: left;
      position:relative;
      li {
        margin: 0;
        display: inline-block;
        width: 75px;
        height: 75px;
        opacity: 0.7;
      }
      .slick-active{
        opacity: 1;
      }
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
  .item-photo-expanded {
    .slick-dots li {
      width: 60px;
      height: 60px;
    }
  }
  .slick-list{
    img {
      width: 300px;
      height: 300px;
      object-fit: contain;
    }
  }
  .item-detail-table {
    width: 100%;
    max-width: 360px;
    margin: 8px auto 0;
    border-collapse: collapse;
    border: 1px solid Whitesmoke;
    border-spacing: 0;
    th {
      width: 39%;
      text-align: left;
      font-weight: 400;
      background: $whiteGray;
    }
    th, td {
      border-collapse: collapse;
      border: 1px solid Whitesmoke;
      padding: 8px;
    }
    .icon {
      &-good {
        color: $goodRaitingColor;
      }
      &-normal {
        color: $normalRaitingColor;
      }
      &-bad {
        color: $badRaitingColor;
      }
    } //.icon
    .item-user-ratings {
      margin:8px 0 0 16px;
      &:first-child {
        margin-left: 0;
      }
    }
  } //.item-detail-table
  .item-price-box {
    margin: 24px 0 0;
    text-align: center;
    &-price {
      margin: 0 16px 0 0;
      font-size: 50px;
      font-weight: bold;
    }
    &-tax {
      font-size: 10px;
    }
    &-shipping-fee {
      font-size: 16px;
    }
  }
  .item-buy-btn {
    height: 60px;
    line-height: 60px;
    margin: 16px 0 0;
    font-size: 24px;
    font-weight: bold;
  }
  .item-description {
    margin: 24px 0 0;
    padding: 32px 0 0;
    font-size: 15px;
    line-height: 1.5;
    &-inner {
       white-space: pre-wrap;
    }
  }
  .item-button {
    display: inline-block;
    border-radius: 40px;
    transition: all ease-out .3s;
    line-height: 1;
    &:hover {
      text-decoration: none;
      opacity: 1;
    }
    &-container {
      margin: 16px 0 0;
      span {
        margin: 0 0 0 4px;
      }
    }
    &-left {
      float: left;
    }
    &-right {
      float: right;
      margin: 8px 0 0;
    }
    &-favorite {
      padding: 8px 16px;
      font-size: 14px;
      color: #333;
      border: 1px solid Whitesmoke;
      background: Whitesmoke;
      text-decoration: none;
      -webkit-transition: all 2s ease;
      transition: all 2s ease;
    }
    &-favorited {
      border: 1px solid #ea352d;
      color: $mRed;
      background: none;
    }
    .fade-in-up {
      -webkit-animation: fade-in-up ease-out 0.4s forwards;
      animation: fade-in-up ease-out 0.4s forwards;
    }
    .fade-in-down {
      -webkit-animation: fade-in-down ease-out 0.4s forwards;
      animation: fade-in-down ease-out 0.4s forwards;
    }
    .rubber-band {
      -webkit-animation: rubber-band ease-out 1s forwards;
      animation: rubber-band ease-out 1s forwards;
    }
    &-report {
      padding: 8px 16px;
      margin: 0 0 0 16px;
      font-size: 14px;
      color: #333;
      border: 1px solid Whitesmoke;
      background: Whitesmoke;
      text-decoration: none;
    }
  }
  .modal-area {
    display: none;
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

  }
  .modal-contents {
    line-height:10px;
    margin-top: 60px;
  }
  .modal-bold {
    font-weight:bold;
    font-size:20px;
    margin-bottom: 15px;
  }
  .modal-final-answer {
    margin-top:-10px;
  }
  .modal-wrapper {
    position: absolute;
    top: 20%;
    left: 50%;
    transform:translate(-50%,-50%);
    width: 70%;
    max-width: 600px;
    background-color: #fff;
    text-align: center;
    margin-top: 25px;
  }
  .modal-bg {
    width: 100%;
    height: 100%;
    background-color: rgba(30,30,30,0.9);
  }
  .modal-button {
    width:100%;
    height:63px;
    display:flex;
    list-style: none;
    border-top: 1px solid #ccc;
    a {
      line-height: 63px;
      text-decoration: none;
      width: 100%;
      color:#000;
    }
    &-ok {
      border-left: 1px solid #ccc;
      a {
        color: #0099e8;
      }
    }
    &-box {
      display: flex;
      border-top: 1px solid #ccc;
    }
  }
  #report-modal-open {
    cursor: pointer;
  }
} //.item-box-container

.item-detail-comment {
    width: 700px;
    margin: 8px auto;
    background-color: white;
  &-form {
    >p {
      padding: 8px;
      font-size: 14px;
      background: #fff6de;
    }
    .comment-submit {
      margin: 8px 0 0;
    }
  }
} //.item-detal-comment

.nav-item-link-prev-next {
  margin: 24px 4% 0;
  .nav-item-link {
    width: 45%;
    word-wrap: break-word;
    &-prev {
      position: relative;
      padding: 0 0 0 14px;
      text-align: left;
    }
    &-next {
      position: relative;
      padding: 0 14px 0 0;
      text-align: right;
    }
  }
  .icon-angle{
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    &-left {
      left: 0;
    }
    &-right {
      right: 0;
    }
  }
}

.item-social-media-box {
  margin: 24px 0 0;
  padding: 16px 0 8px;
  background-color: #fff;
  .text-center {
    padding: 14px 0 0;
  }
  .social-media-box {
    margin: 16px 0 0;
    text-align: center;
    li {
      display: inline-block;
      margin: 0 8px 8px 0;
      vertical-align: middle;
      text-align: center;
    }
  .share-btn {
    display: block;
    position: relative;
    width: 44px;
    height: 44px;
    border-radius: 4px;
    line-height: 44px;
    color: #fff;
    box-sizing: border-box;
    &-facebook {
      background: $facebookColor;
    }
    &-twitter {
      background: $twitterColor;
    }
    &-line {
      background: $lineColor;
    }
    &-printerest {
      background: $printerestColor;
    }
    .icon-sns {
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      }
    }
  }
}

.item-button-edit-delete{
  text-align: center;
  background:#fff;
  margin-top: 25px;
  padding-top: 10px;
  padding-bottom: 10px;
  .item-button-edit {
    height:50px;
    line-height:50px;
    background: #ea352d;
    margin:0 auto;
  }
  a {
    color:#fff;
    text-decoration:none;
   }
  .item-button-or {
    color: #000;
    font-size:16px;
    margin-top: 10px;
  }
  .item-button-stop {
    height:50px;
    line-height:50px;
    background: #aaa;
    margin:0 auto;
    margin-top: 10px;
  }
  .item-button-delete {
    height:50px;
    line-height:50px;
    background: #aaa;
    margin:0 auto;
    margin-top: 10px;
    position:relative;
  }
}
.modalContents {
  line-height:10px;
  margin-top: 60px;
}
.modal-bold {
  font-weight:bold;
  font-size:20px;
  margin-bottom: 15px;
}

.final-answer {
  margin-top:-10px;
}

.modalArea {
  display: none;
  position: fixed;
  z-index: 10; /*サイトによってここの数値は調整 */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}


.modalWrapper {
  position: absolute;
  top: 20%;
  left: 50%;
  transform:translate(-50%,-50%);
  width: 70%;
  max-width: 600px;
  height:280px;
  background-color: #fff;
}
.modalBg {
  width: 100%;
  height: 100%;
  background-color: rgba(30,30,30,0.9);
}
#openModal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform:translate(-50%,-50%);
  border-style: none;
  background: #aaa;
  font-size:13px;
  color:#fff;
}
.modalWrapper {
  position: absolute;
  top: 20%;
  left: 50%;
  transform:translate(-50%,-50%);
  width: 70%;
  max-width: 600px;
  height:280px;
  background-color: #fff;
  .cansel-button {
    width:100%;
    height:63px;
    a {
      line-height: 63px;
      color:#000;
    }
  }
  .modal-bold {
    font-weight:bold;
    font-size:20px;
    margin-bottom: 15px;
  }
  .final-answer {
    margin-top:-10px;
  }
  .modalArea {
    display: none;
    position: fixed;
    z-index: 10; /*サイトによってここの数値は調整 */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .modalBg {
    width: 100%;
    height: 100%;
    background-color: rgba(30,30,30,0.9);
  }
  .clearfix {
    display:flex;
    list-style: none;
    border-top: 1px solid #ccc;
  }
  .delete-button {
    width:100%;
    height:63px;
    border-left: 1px solid #ccc;
    a {
      line-height: 63px;
      color: #0099e8;
    }
  }
}
.item-detail-message {
  margin:8px auto;
  .message-content {
  padding: 24px 7.5%;
  background-color:#fff;
    .textarea-default {
      margin: 8px 0 0 0;
    }
  }
  .message-items {
    margin: 0;
  }
  li {
    list-style: none;
  }
  .message-items li:first-child {
    margin: 1.5em 0 0;
    list-style: none;
  }
  .message-self .message-body {
    float:left;
    background: #fbf0e6;
  }
  .message-body {
    float: right;
    position: relative;
    width: calc(100% - 56px);
    padding: 16px;
    background: #eef0f4;
    border-radius: 15px;
    line-height: 1.5;
    word-break: break-all;
    margin-bottom: 50px;
  }
  .message-icons {
    margin: 8px 0 0;
  }
  form {
    background:#fff;
  }
  .message-items li {
    margin: 60px 0 0;
  }
  .message-delete{
  float: right;
  }
}


