.app-banner {
  background-position: center;
  &-pc {
    overflow: hidden;
    position: relative;
    width: 750px;
    height: 260px;
    margin: 0 auto;
    color: #fff;
    &-inner {
      position: absolute;
      top: 47px;
      left: 0;
      h2 {
        text-shadow: 0 0 5px rgba(0,0,0,0.4);
        font-size: 24px;
        line-height: 1.4;
        font-weight: bold;
      }
      p{
        text-shadow: 0 0 5px rgba(0,0,0,0.4);
        margin: 10px 0 0 0;
        font-size: 35px;
      }
    }
    >figure {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      width: 300px;
      height: 100%;
      img {
        width: 100%;
      }
    }
  }
  &-icon {
    margin: 20px 0 0;
    figure {
      float: left;
    }
    ul {
      float: left;
      margin: 0 0 0 24px;
      line-height: 68px;
    }
    li {
      float: left;
      &:last-child {
        margin: 0 0 0 16px;
      }
    }
    a {
      display: block;
      line-height: 68px;
    }
    img {
      vertical-align:  middle;
    }
  }
}
