.pickup-container{
  padding: 40px 0;
  background: #f5f5f5;
  h2 {
    font-size: 28px;
    line-height: 1.4;
    font-weight: bold;

  }
  h3 {
    font-size: 22px;
    margin: 26px 11px;
    font-weight: bold;
  }
  .text-center{
    text-align: center;
  }
  .items-box {
    float: left;
    margin: 0 0 20px 20px;
    width: calc(50% - 30px);
    background-color: #fff;
    &-photo {
      position: relative;
      overflow: hidden;
      img{
        width: 100%;
        height: 220px;
        object-fit: cover;
      }
    }
    // &-container {
    //   width: 940px;
    //   margin: 0 auto;
    // }
    &-body{
      padding: 16px;
      height: 78px;
    }
    &-name {
      margin: 0;
      overflow: hidden;
      position: relative;
      font-weight: 400;
      height: 3em;
      line-height: 1.5;
      word-break: break-word;
      white-space: normal;
      font-size: 16px;
    }
    &-num {
      margin: 8px 0 0;
    }
    &-tax{
      font-size: 10px;
      clear: both;
      }
    &-price {
      font-size: 20px;
      float: left;
    }
    &-favorites {
      font-size: 16px;
      font-weight: 400;
      float: right;
      span {
        display: inline-block;
        margin: 1px 0 0;
        vertical-align: middle;
      }
      i {
        margin: 0 4px 0 0;
        vertical-align: middle;
      }
    }
    a {
      display: block;
      color: #333;
    }
  }
  .view-all {
    text-align: right;
    padding: 20px 0 30px;
    width: 99.5%;
  }
}
