.top-carousel {
  display: block;
  height: 200px;
  .img2,.img3,.img4  {
    display: block;
    height:100%;
    background-size: cover;
    background-position: center;
  }
  .top-main-visual {
    width:100%;
    height:100%;
  }
  .top-main-visual-content{
    position: absolute;
    top:10%;
    left:20%;
  }
  .top-main-visual-content-wrap {
    position: relative;
    max-width: 730px;
    height: 100%;
    margin: 0 auto;
  }
  .slide{
    position: relative;
    height: 100%;
    width: 100%;
    a {
      text-decoration: none;
    }
    .small-photo {
      height:100%;
      width: auto;
      position:absolute;
      top: 0;
      right: 0;
    }
  }
  .slider {
    height: 100%;
  }
  .slick-list {
    height: 100%;
  }
  .slick-track {
    height: 100%;
  }
  .slick-next{
    position:absolute;
    top:50%;
    right:5%;
    height:40px;
    width: 30px;
    &:before {
      display:none;
    }
  }
  .slick-prev {
    position:absolute;
    top:50%;
    left:5%;
    z-index: 200;
    height:40px;
    width: 30px;
    &:before {
    display:none;
    }
  }
  .slick-dots {
    bottom: 15px;
  }
  .slick-dots li button:before {
    font-size:15px;
  }
  .top-main-visual {
    background-size: cover;
    height: 100%;
    &-wrap {
      height: 100%;
      margin: 0 auto;
      position: relative;
      >img {
        height: 100%;
        width: auto;
        position: absolute;
        top: 0;
        right: 0;
      }
    }
    &-content {
      position: absolute;
      top: 46px;
      left: 0;
      h2 {
        font-size: 40px;
        line-height: 1.2;
        font-weight: bold;
        color:#333;
      }
      p {
        font-size: 16px;
        margin: 16px 0 0 0;
        line-height: 1.77778;
        color:#333;
      }
    }
    &-store {
      margin: 24px 0 0;
      a {
        width: 128px;
        height: 38px;
        display: inline-block;
        margin:0 0 0 10px;
        &:first-child {
          margin: 0;
        }
        img {
          width: 100%;
        }
      }
    }
  }
}

