%section.items-box
  = link_to item_path(item_box) do
    %figure.items-box-photo
      =image_tag item_box.images.first.variant(resize: "250x250"),class: "is-higher-width lazyloaded"
  .items-box-body
    %h3.items-box-name.font-2
      = item_box.name
    .items-box-num.clearfix
      .items-box-price.font-5
        = item_box.price
      .items-box-likes.font-2
        %i.fa.fa-heart
        %span 4
      %p.items-box-tax (税込)
