.single-container
  =render "shared/single-header"
  %main.single-main
    %section.single-container-section
      #sell-item-container
        =render partial: "item_form", locals: {submit_value: "変更する"}
=render "shared/single-footer"
