$largeWordSize: 2vw;
$smallWordSize: 12px;

$all-back-color: #f5f5f5;
$siro:#fff;
$header-arrow:#888;
$usually-arrow:#ccc;
$action-arrow:#000;
$logout-btn:#333;
$mizuiro:#D9F7FF;

$facebookColor: #385185;
$twitterColor: #5d9dc9;
$lineColor: #00c137;
$printerestColor: #aa262a;
$goodRaitingColor: #ef5185;
$normalRaitingColor: #fba933;
$badRaitingColor: #6ab5d8;
$whiteGray: #fafafa;
$itemWordingColor: #888;
$red: #e62017;
$mRed: #ea352d;
$mGray: #eee;
