$largeWordSize: 2vw;
$smallWordSize: 12px;

$facebookColor: #385185;
$twitterColor: #5d9dc9;
$lineColor: #00c137;
$printerestColor: #aa262a;
$goodRaitingColor: #ef5185;
$normalRaitingColor: #fba933;
$badRaitingColor: #6ab5d8;
$whiteGray: #fafafa;
$itemWordingColor: #888;
