.default-container
  =render partial: "shared/pc-header"
  %main.categories-container
    .categories-content
      %ul.parts-nav.clearfix
        -if @category.has_children?
          -@category.children.limit(5).each do |child|
            %li.parts-nav-child
              =link_to child.name, category_path(child)
      %section.items-box-container.clearfix
        %h1.items-box-head
          #{@category.name}の商品一覧
        .items-box-content.clearfix.category-brand-list
          =render partial: "items/item", collection: @category.all_items
  =render partial: "shared/app-banner"
  =render partial: "shared/global-footer"
  =render partial: "shared/footer-sell-btn"
